<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Expenses Tracker</title>
    <link rel="icon" th:href="@{/images/ExpensesTrackerfavicon.ico}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div style="height: 710px; background: repeating-linear-gradient(to bottom left, rgb(57, 224, 57) 10%, rgb(147, 18, 147) 20%, rgb(57, 224, 57) 30%, rgb(147, 18, 147) 40%, rgb(57, 224, 57) 50%,rgb(147, 18, 147) 60%, rgb(57, 224, 57) 70%,rgb(147, 18, 147) 80%);">
            <div style="height: 68px; width: auto; background-color: rgb(201, 100, 169); font-size: 30px; padding-top: 25px;">
                <img th:src="@{/images/expensetracker.jpg}" alt="img" style="height: 40px; width: 40px; padding-left: 20px;">
                <strong style="padding-left: 30px;">Spring Expenses Tracker</strong>
                <a th:href="@{/expense/home}" style="text-decoration: none;">
                <i class="fa fa-home" style="padding-left: 450px;color: green;"></i>
                </a>
                <i class="fa-solid fa-user-gear" style="padding-left: 800px; cursor: pointer;">
                <ul style="list-style: none; display: none;">
                        <li>Update Profile</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Logout</li>
                </ul>
                </i>
            </div>
    <br><br><br>
        <center>
        	 <form id="frm" th:action="@{/total/{userId} (userId=${session.user.userId})}">
            <div style="height: 400px; width: 900px; border: 3px solid; color: black;">
                <br><br>
                <strong style="font-size: 30px;">Total Expenses Counter</strong><br><br>
                Start Date<br><br>
                <input type="date" placeholder="dd-mm-yyyy" name="start" style="height: 40px; width: 500px; border: none;"><br><br><br>
                <i></i> End Date<br><br>
                <input type="date" placeholder="dd-mm-yyyy" name="end" style="height: 40px; width: 500px; border: none;"><br><br>
                <input type="submit" style="background-color: rgb(78, 78, 154); color: white; border: none;">
            </div>
        </center>
        </form>
    </div>
</div>   
</body>
</html>